@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .logos {
    overflow: hidden;
    padding: 150px 0;
    background: #f4f4f4;
    white-space: nowrap;
    position: relative;
    
    @media screen and (max-width: 1920px) {
        max-width: 1820px;
    };

    @media screen and (max-width: 1366px) {
        max-width: 1266px;
    }
  }

  .logos:before,
  .logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  
  .logos:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), #f4f4f4);
  }
  
  .logos:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f4f4f4);
  }
  
  .logos:hover .logos-slide {
    animation-play-state: paused;
  }
  
  .logos-slide {
    display: inline-block;
    animation: 25s slide infinite linear;
  }
  
  .logos-slide img {
    height: 700px;
    margin: 0 120px;
    @media screen and (max-width: 1366px) {
        height: 600px;
    };
  }